# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android Studio / IntelliJ
*.iml
.idea/
local.properties
captures/

# Android build
.externalNativeBuild/
.cxx/

# Keystore
*.jks
*.keystore

# Firebase
google-services.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log
